<%- contentFor('body') %>

<span style="color:white">Pokemón new page.</span>

<form action="/pokemon" method="post">
    <h1><%= pokemon.name%></h1>
    <h2>Id: <%= pokemon.id%></h2>
    <h2>Trainer: <%= trainer.name%></h2>
    <h2>CP: <%= pokemon.cp%></h2>
</form>
