<%- contentFor('body') %>

<div class="display-bckgnd info"></div>
<div class="show info">
  <h1><%= pokemon.name%></h1>
  <h2>Id:</h2>
  <h3><%= pokemon.id%></h3>
  <h2>Trainer:</h2>
  <h3><%= trainer.name%></h3>
  <h2>CP:</h2>
  <h3><%= pokemon.cp%></h3>
</div>

<link rel='stylesheet' href='/stylesheets/new-edit.css' />
