<%- contentFor('body') %>

<div class="display-bckgnd info"></div>
<div class="show info">
  <h1><%= trainer.name %></h1>
  <h3>Trainer ID: <%= trainer.id %></h3>
  <h2>Pokemon:</h2>
  <div class="table-div">
    <table>
      <thead>
        <th>Name</th>
        <th>CP</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < pokemon.length; i++) { %>
          <tr>
            <td><%= pokemon[i].name %></td>
            <td><%= pokemon[i].cp %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<link rel='stylesheet' href='/stylesheets/trainers.css' />
